<a href="https://colab.research.google.com/github/mrparamvir/End-to-end-multi-class-Leaf-Classification/blob/master/End_to_end_Multi_class_Leaf_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  üçÇüçÅ End-to-end Multi-class Leaf Classification
This notebook builds an end-to-end multi class image classifier using TensorFlow 2.0 and TensorFlow Hub.

## 1. Problem

Identifying the species of plants given an image of a leaf. 


## 2. Data

The data we're using is from Kaggle's Leaf Classification competition.

https://www.kaggle.com/c/leaf-classification/data

## 3. Evaluation

The evaluation is a file with prediction probabilities for each leaf species of each test image.

https://www.kaggle.com/c/leaf-classification/overview/evaluation

## 4. Features

Some information about the data:
* We're dealing with images (unstructured data) so it's probably best we use deep learning/transfer learning.
* There are 99 species of plants (this means there are 99 different classes).
* There are around 900+ images in the training set (these images have species).
* There are around 500+ images in the test set (these images have no species, because we'll want to predict them).

In [ ]:
# # Unzip the uploaded data into Google Drive
# !unzip "drive/My Drive/Leaf Classification/leaf-classification.zip" -d "drive/My Drive/Leaf Classification"

### Get our wrorkspace ready

* Import TensorFlow 2.x ‚úÖ
* Import TensorFlow Hub ‚úÖ
* Make sure we're using GPU ‚úÖ

In [ ]:
# Import necessary tools
import tensorflow as tf
import tensorflow_hub as hub
print("TF version:", tf.__version__)
print("TF Hub version:", hub.__version__)

# Check for GPU availability
print("GPU", "available (YESSSS!!!) üòÄ" if tf.config.list_physical_devices("GPU") else "not available :(")

TF version: 2.2.0
TF Hub version: 0.8.0
GPU available (YESSSS!!!) üòÄ

## Getting our data ready (turning into Tensors)

With all machine learning models, our data has to be in numerical format. So that's what we'll be doing first. Turning our images into Tensors
(numerical representations).

Let's start by accessing our data checking out the labels.

In [ ]:
# # Unzip the data in the Leaf Classification
# !unzip "drive/My Drive/Leaf Classification/images.zip" -d "drive/My Drive/Leaf Classification"
# !unzip "drive/My Drive/Leaf Classification/train.csv.zip" -d "drive/My Drive/Leaf Classification"
# !unzip "drive/My Drive/Leaf Classification/test.csv.zip" -d "drive/My Drive/Leaf Classification"
# !unzip "drive/My Drive/Leaf Classification/sample_submission.csv.zip" -d "drive/My Drive/Leaf Classification"

In [ ]:
data= pd.read_csv("drive/My Drive/Leaf Classification/train.csv.zip",index_col=False)
test_data= pd.read_csv("drive/My Drive/Leaf Classification/test.csv.zip", index_col=False)
data.head(2)

   id                species   margin1  ...  texture62  texture63  texture64
0   1            Acer_Opalus  0.007812  ...   0.004883   0.000000   0.025391
1   2  Pterocarya_Stenoptera  0.005859  ...   0.000977   0.039062   0.022461

[2 rows x 194 columns]

In [ ]:
#Checking Null values
obj = data.isnull().sum()
obj
# for key, value in obj.iteritems():
#   print(key,":",value)   

obj_2 = test_data.isnull().sum()
obj_2
# for key, value in obj_2.iteritems():
#   print(key,":",value)

id           0
margin1      0
margin2      0
margin3      0
margin4      0
            ..
texture60    0
texture61    0
texture62    0
texture63    0
texture64    0
Length: 193, dtype: int64

In [ ]:
obj2 = data['species'].value_counts()
obj2
# for key, value in obj2.iteritems():
#   print(key,":",value)

Ilex_Cornuta                 10
Fagus_Sylvatica              10
Quercus_Coccinea             10
Tilia_Platyphyllos           10
Celtis_Koraiensis            10
                             ..
Acer_Capillipes              10
Quercus_x_Turneri            10
Quercus_Cerris               10
Quercus_Phillyraeoides       10
Lithocarpus_Cleistocarpus    10
Name: species, Length: 99, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
le=encoder.fit(data.species)
labels=le.transform(data.species)
classes=list(le.classes_)
classes[:2]

['Acer_Capillipes', 'Acer_Circinatum']

In [ ]:
data=data.drop(['id','species'],axis=1)
test_id=test_data.id
test_data=test_data.drop(['id'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,labels,test_size=.2,shuffle=True,stratify=labels)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
lda = ExtraTreesClassifier(bootstrap=False,
                           ccp_alpha=0.0,
                           class_weight=None,
                           criterion='gini',
                           max_depth=60,
                           max_features='sqrt',
                           max_leaf_nodes=None,
                           max_samples=None,
                           min_impurity_decrease=0.0,
                           min_impurity_split=None,
                           min_samples_leaf=2,
                           min_samples_split=10,
                           min_weight_fraction_leaf=0.0,
                           n_estimators=195,
                           n_jobs=None, oob_score=False,
                           random_state=6713, verbose=0,
                           warm_start=False)

lda.fit(x_train,y_train)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=60, max_features='sqrt',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=2, min_samples_split=10,
                     min_weight_fraction_leaf=0.0, n_estimators=195,
                     n_jobs=None, oob_score=False, random_state=6713, verbose=0,
                     warm_start=False)

In [ ]:
lda.score(x_train,y_train), lda.score(x_test,y_test)

(1.0, 0.9696969696969697)

In [ ]:
predicted=lda.predict_proba(test_data)

sample_df=pd.read_csv('drive/My Drive/Leaf Classification/sample_submission.csv.zip',index_col=False)
sample_df.head(2)

   id  Acer_Capillipes  ...  Viburnum_x_Rhytidophylloides  Zelkova_Serrata
0   4         0.010101  ...                      0.010101         0.010101
1   7         0.010101  ...                      0.010101         0.010101

[2 rows x 100 columns]

In [ ]:
df_sub=pd.DataFrame(predicted,columns=sample_df.columns[1:])
df_sub.head(2)

   Acer_Capillipes  ...  Zelkova_Serrata
0         0.001923  ...         0.001026
1         0.003663  ...         0.004772

[2 rows x 99 columns]

In [ ]:
df_sub1=pd.DataFrame(test_id)
df_sub1.head(2)

   id
0   4
1   7

In [ ]:
final_sub=pd.concat([df_sub1,df_sub],axis=1)
final_sub.to_csv('drive/My Drive/Leaf Classification/leaf_classification_model_submission_1.csv',index=False)